In [2]:
# Example
def greet():
    print("Hello, welcome to Python!")
greet()

Hello, welcome to Python!

In [15]:
# Example 
def add(a, b):
    return a + b
result = add(10, 5)
print("Sum:", result)

Sum: 15

Function With Return Value

In [3]:
# Example 2
def greet_user(name):
    print(f"Hello, {name}!")
greet_user("Saif")

Hello, Saif!

Function With Default Argument

In [6]:
# Example
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet()
greet("Saif")

Hello, Guest!
Hello, Saif!

Function With Multiple Parameters

In [10]:
# Example
def multiply(x, y):
    return x * y
print("Product:", multiply(3, 4))

Product: 12

Function That Returns Multiple Values

In [11]:
# Example
def calculate(a, b):
    return a + b, a - b, a * b
sum_, diff, prod = calculate(10, 5)
print("Sum:", sum_)
print("Difference:", diff)
print("Product:", prod)

Sum: 15
Difference: 5
Product: 50

 Function With Keyword Arguments

In [12]:
# Example
def user_info(name, age):
    print(f"Name: {name}, Age: {age}")
user_info(age=20, name="Saif")

Name: Saif, Age: 20

Function With Variable Number of Arguments

In [14]:
# Example
def total(*numbers):
    return sum(numbers)
print("Total:", total(5, 10, 15))

Total: 30

Function Inside Another Function (Nested Function)

In [16]:
# Example
def outer():
    def inner():
        print("Hello from inner function!")
    inner()
outer()

Hello from inner function!

# Lambda Function (Anonymous Function)
Syntax :-
- lambda arguments: expression

In [17]:
# Example
square = lambda x: x * x
print("Square of 6 is", square(6))

Square of 6 is 36

In [21]:
def f1():
    print('saif')
f1()

saif

In [26]:
def f1(a,b):
    return a+b
print(add(10,20))

30

In [30]:
def even_odd(n):
    if n% 2 ==0:
        return 'even'
    else:
        return 'odd'
print(even_odd(8))

even

In [32]:
def max_num(a,b,c):
    return max(a,b,c)
print(max_num(100,29,30))

100

In [40]:
def multipication(n):
    for i in range(1,11):
        print(f'{n} x {i} = {n*i}')
multipication(6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Factorial of a number

In [43]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
print(factorial(5))

120

Nth Fibonacci number

In [45]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(6))

8

Palindrome

In [46]:
def palindrome(s):
    return s == s[::-1]
print(palindrome("pop"))

True